* {
    margin-top: 2px;
    margin-left: 0;
    /* border: solid 1px goldenrod; */
}

.title {
    font-family: 'Merriweather', serif;
}

h2 {
    font-weight: bold;
    font-size: larger;
    font-family: 'Merriweather', serif;
}

button {
    margin: 3px;
}

#findCity {
    /* text-align: center; */
}

.citySearch:hover {
    font-weight: bold;
    
}

.columns {
    margin-top: 6px;
}

.box {
    align-items: flex-end;
}

#skyColor {
   color: white;
}

.hero {
    background: linear-gradient(90deg, silver, Blue);
}
/* .title .subtitle {
    display: flex;
    align-items: center;
} */

#weatherHead {
    font-size: 39px;
}

.theCities {
    font-weight: bold;
    font-size: larger;
}

/* #placeholder {
    font-weight: bold;
} */