* {
    margin-top: 0;
    margin-left: 0;
    /* border: solid 1px goldenrod; */
}

h2 {
    font-weight: bold;
    font-size: larger;
}

button {
    margin: 3px;
}

#findCity {
    /* text-align: center; */
}

.citySearch:hover {
    font-weight: bold;
    
}

.columns {
    margin-top: 6px;
}

.box {
    align-items: flex-end;
}

.mainView {

}

.hero {
    background: linear-gradient(90deg, silver, Blue);
}
/* .title .subtitle {
    display: flex;
    align-items: center;
} */

#weatherHead {
    font-size: 36px;
}